@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Find your new favorite holiday getaway! Book a room today!</h1>

<form method="get" class="form-inline">
    <label for="RoomType" class="mr-2">Room Type:</label>
    <select asp-for="RoomType" class="form-control mr-2">
        <option value="">All</option>
        <option value="Single">Single</option>
        <option value="Double">Double</option>
        <option value="Suite">Suite</option>
    </select>

    <label for="ReservationDate" class="mr-2">Reservation Date:</label>
    <input type="date" asp-for="StartDate" class="form-control mr-2" />
    to
    <input type="date" asp-for="EndDate" class="form-control mr-2" />

    <input type="submit" value="Search available rooms" class="btn btn-primary" />
</form>

<div>
    @foreach (var room in Model.Rooms!)
    {
        <div>
            <h2>Room @room.RoomNumber</h2>
            <p>Type: @room.RoomType</p>
            <p>Price: @room.Price $ per night</p>
        </div>
    }
</div>